@charset "UTF-8";

body {
    /* font-family: 'Rubik', sans-serif; */
    position: relative;
}

a {
    color: #196aae;
    ;
}

a:hover,
a:focus {
    color: #f7f7f0;
}

h1 {
    font-size: 60px;
    font-weight: 300;
    letter-spacing: -1px;
    margin-bottom: 1.5rem;
}

h2 {
    font-size: 45px;
    font-weight: 300;
    color: #633991;
    letter-spacing: -1px;
    margin-bottom: 1rem;
}

h3 {
    color: white;
    font-size: 33px;
    font-weight: 500;
}

h4 {
    font-size: 20px;
    font-weight: 500;
    color: #633991;
}

h5 {
    font-size: 28px;
    font-weight: 300;
    color: rgba(37, 73, 215, 0.75);
    margin-bottom: 0.7rem;
}

p {
    color: #959094;
}

p.lead {
    color: #e38cb7;
    margin-bottom: 2rem;
}


.light-bg {
    background-color: #faf6fb;
}

.section {
    padding: 40px 0;
}

.section-title {
    text-align: center;
    margin-bottom: 3rem;
}

.section-title small {
    color: #998a9b;
}

@media (max-width:767px) {
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 30px;
    }
}

#share-modal h3 {
    color: white;
}

.media-body {
    text-align: center;
}

@media (min-width:992px) {
    .media-body {
        text-align: left;
    }
}

pwa-install::part(openButton) {
    background-color: transparent;
    color: rgba(255, 255, 255, .5);
    /* font-family: 'Rubik', sans-serif; */
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}