.Features {
    padding-top: 2rem;
    flex-flow: column;
}

a.GetStarted {
    width: 64px;
    height: 64px;
    z-index: 100;
    position: absolute;
    margin-top: -11rem;
    text-align: center;
    margin-left: -32px;
    color: rgba(255, 255, 255, 0.5);
}

.Features h2 {
    padding: 1.5rem;
    color: #154975;
}

.gradient-fill:before {
    color: #fc73b4;
    background: -moz-linear-gradient(45deg, #9477b4 0%, #fc73b4 100%);
    background: -webkit-linear-gradient(45deg, #9477b4 0%, #fc73b4 100%);
    background: linear-gradient(45deg, #9477b4 0%, #fc73b4 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card.features {
    border: 0;
    border-radius: 3px;
    transition: all 0.3s ease;
}

@media (max-width:767px) {
    .feature-point {
        padding-left: 63px;
        text-align: left;
        margin-top: 20px;
        margin-bottom: 50px;
    }
}

.feature-point {
    padding-left: 63px;
    text-align: left;
}

.producthunt img {
    margin-top: 100px;
}

@media (max-width:992px) {
    .card.features {
        margin-bottom: 2rem;
    }

    [class^="col-"]:last-child .card.features {
        margin-bottom: 30px;
    }
}

.card p {
    font-size: 14px;
    color: rgb(240, 243, 255);
}

.card:hover {
    transform: translateY(-3px);
}

.card:hover svg circle {
    fill: #fc73b4;
}

.box-icon {
    box-shadow: 0px 0px 43px 0px rgba(0, 0, 0, 0.14);
    padding: 10px;
    width: 70px;
    border-radius: 3px;
    margin-bottom: 1.5rem;
    background-color: #FFF;
}

@media (max-width:992px) {
    .circle-icon {
        width: 98px;
        height: 98px;
        font-size: 28px;
        line-height: 50px;
    }

    .circle-icon img {
        margin-top: -2px;
    }
}

.ui-steps li:hover .circle-icon {
    background-image: -moz-linear-gradient(122deg, #e6388e 0%, #fb378e 100%);
    background-image: -webkit-linear-gradient(122deg, #e6388e 0%, #fb378e 100%);
    background-image: -ms-linear-gradient(122deg, #e6388e 0%, #fb378e 100%);
    background-image: linear-gradient(122deg, #e6388e 0%, #fb378e 100%);
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.09);
    color: #FFF;
}

.ui-steps li {
    padding: 15px 0;
}

.ui-steps li:not(:last-child) {
    border-bottom: 1px solid #f8e3f0;
}

.perspective-phone {
    position: relative;
    z-index: -1;
}

@media (min-width:992px) {
    .perspective-phone {
        margin-top: -150px;
    }
}


.exercise-link:hover {
    text-decoration: underline solid #633991;
}

.card-body .card-title a {
    color: rgb(240, 243, 255);
    font-weight: 500;
    font-size: 3rem;
}

.card {
    border-radius: 3rem;
    border: none !important;
}

.anti-stress {
    background: -moz-linear-gradient(-135deg, #ED6A5A 0%, #ED6A5A96 100%);
    background: -webkit-linear-gradient(-135deg, #ED6A5A 0%, #ED6A5A96 100%);
    background: linear-gradient(-135deg, #ED6A5A 0%, #ED6A5A96 100%);
    box-shadow: 5px 5px 20px #ED6A5A96;
    -webkit-box-shadow: 5px 5px 20px #ED6A5A96;
    -moz-box-shadow: 5px 5px 20px #ED6A5A96;
}

.box-breathing {
    background: -moz-linear-gradient(-135deg, #08A045 0%, #08A04599 100%);
    background: -webkit-linear-gradient(-135deg, #08A045 0%, #08A04599 100%);
    background: linear-gradient(-135deg, #08A045 0%, #08A04599 100%);
    box-shadow: 5px 5px 20px #08A04599;
    -webkit-box-shadow: 5px 5px 20px #08A04599;
    -moz-box-shadow: 5px 5px 20px #08A04599;
}

.relax {
    background: -moz-linear-gradient(-135deg, #0B6E4F 0%, #0B6E4F99 100%);
    background: -webkit-linear-gradient(-135deg, #0B6E4F 0%, #0B6E4F99 100%);
    background: linear-gradient(-135deg, #0B6E4F 0%, #0B6E4F99 100%);
    box-shadow: 5px 5px 20px #0B6E4F99;
    -webkit-box-shadow: 5px 5px 20px #0B6E4F99;
    -moz-box-shadow: 5px 5px 20px #0B6E4F99;
}

.awake {
    background: -moz-linear-gradient(-135deg, #6BBF59 0%, #6BBF5999 100%);
    background: -webkit-linear-gradient(-135deg, #6BBF59 0%, #6BBF5999 100%);
    background: linear-gradient(-135deg, #6BBF59 0%, #6BBF5999 100%);
    box-shadow: 5px 5px 20px #6BBF5999;
    -webkit-box-shadow: 5px 5px 20px #6BBF5999;
    -moz-box-shadow: 5px 5px 20px #6BBF5999;
}

.meditate {
    background: -moz-linear-gradient(-135deg, #FE9000 0%, #FE900099 100%);
    background: -webkit-linear-gradient(-135deg, #FE9000 0%, #FE900099 100%);
    background: linear-gradient(-135deg, #FE9000 0%, #FE900099 100%);
    box-shadow: 5px 5px 20px #FE900099;
    -webkit-box-shadow: 5px 5px 20px #FE900099;
    -moz-box-shadow: 5px 5px 20px #FE900099;
}

.anti-stress .btn-primary {
    background: -moz-linear-gradient(-135deg, #ED6A5A 0%, #ED5A5A 100%);
    background: -webkit-linear-gradient(-135deg, #ED6A5A 0%, #ED5A5A 100%);
    background: linear-gradient(-135deg, #ED6A5A 0%, #ED5A5A 100%);
}

.box-breathing .btn-primary {
    background: -moz-linear-gradient(-135deg, #08B045 0%, #08A045 100%);
    background: -webkit-linear-gradient(-135deg, #08B045 0%, #08A045 100%);
    background: linear-gradient(-135deg, #08B045 0%, #08A045 100%);
}

.relax .btn-primary {
    background: -moz-linear-gradient(-135deg, #0B7E4F 0%, #0B6E4F 100%);
    background: -webkit-linear-gradient(-135deg, #0B7E4F 0%, #0B6E4F 100%);
    background: linear-gradient(-135deg, #0B7E4F 0%, #0B6E4F 100%);
}

.awake .btn-primary {
    background: -moz-linear-gradient(-135deg, #6BAF5959 0%, #6BBF59 100%);
    background: -webkit-linear-gradient(-135deg, #6BAF5959 0%, #6BBF59 100%);
    background: linear-gradient(-135deg, #6BAF5959 0%, #6BBF59 100%);
}

.meditate .btn-primary {
    background: -moz-linear-gradient(-135deg, #FE900099 0%, #FE9000 100%);
    background: -webkit-linear-gradient(-135deg, #FE900099 0%, #FE9000 100%);
    background: linear-gradient(-135deg, #FE900099 0%, #FE9000 100%);
}

.card-body {
    padding: 2.5rem;
    min-height: 300px;
    min-width: 300px;
}

.btn-primary {
    padding: 1.5rem;
    text-align: center;
    background-color: white;
    border-radius: 30px;
    margin-top: 50px;
    width: 100%;
    background: -moz-linear-gradient(45deg, #5B86E50A 0%, #5B86E5 100%);
    background: -webkit-linear-gradient(45deg, #5B86E50A 0%, #5B86E5 100%);
    background: linear-gradient(45deg, #5B86E50A 0%, #5B86E5 100%);
    border: none !important;
}

.horizontal-scroll {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
}

.horizontal-scroll:before,
.horizontal-scroll:after {
    content: '';
    width: 10px;
}

.horizontal-scroll>li:last-child {
    margin-right: 20px;
}

.horizontal-scroll>li,
.card {
    flex: 0 0 auto;
    max-width: 300px;
    margin: 1rem;
}

.no-scrollbar {
    scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}