.Features {
    padding-top: 2rem;
    flex-flow: column;
}

a.GetStarted {
    width: 64px;
    height: 64px;
    z-index: 100;
    position: absolute;
    margin-top: -4rem;
    text-align: center;
    margin-left: -32px;
    color: rgb(20 73 117 / 15%);
}

.Features h2 {
    padding: 1.5rem;
    color: #154975;
}

.gradient-fill:before {
    color: #fc73b4;
    background: -moz-linear-gradient(45deg, #9477b4 0%, #fc73b4 100%);
    background: -webkit-linear-gradient(45deg, #9477b4 0%, #fc73b4 100%);
    background: linear-gradient(45deg, #9477b4 0%, #fc73b4 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card.features {
    border: 0;
    border-radius: 3px;
    transition: all 0.3s ease;
}

@media (max-width:767px) {
    .feature-point {
        padding-left: 63px;
        text-align: left;
        margin-top: 20px;
        margin-bottom: 50px;
    }
}

.feature-point {
    padding-left: 63px;
    text-align: left;
}

.producthunt img {
    margin-top: 100px;
}

@media (max-width:992px) {
    .card.features {
        margin-bottom: 2rem;
    }

    [class^="col-"]:last-child .card.features {
        margin-bottom: 30px;
    }
}

.card p {
    font-size: 14px;
    color: rgb(240, 243, 255);
    min-height: 240px;
}

.card:hover svg circle {
    fill: #fc73b4;
}

.box-icon {
    box-shadow: 0px 0px 43px 0px rgba(0, 0, 0, 0.14);
    padding: 10px;
    width: 70px;
    border-radius: 3px;
    margin-bottom: 1.5rem;
    background-color: #FFF;
}

@media (max-width:992px) {
    .circle-icon {
        width: 98px;
        height: 98px;
        font-size: 28px;
        line-height: 50px;
    }

    .circle-icon img {
        margin-top: -2px;
    }
}

.ui-steps li:hover .circle-icon {
    background-image: -moz-linear-gradient(122deg, #e6388e 0%, #fb378e 100%);
    background-image: -webkit-linear-gradient(122deg, #e6388e 0%, #fb378e 100%);
    background-image: -ms-linear-gradient(122deg, #e6388e 0%, #fb378e 100%);
    background-image: linear-gradient(122deg, #e6388e 0%, #fb378e 100%);
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.09);
    color: #FFF;
}

.ui-steps li {
    padding: 15px 0;
}

.ui-steps li:not(:last-child) {
    border-bottom: 1px solid #f8e3f0;
}

.perspective-phone {
    position: relative;
    z-index: -1;
}

@media (min-width:992px) {
    .perspective-phone {
        margin-top: -150px;
    }
}


.exercise-link:hover {
    text-decoration: underline solid #633991;
}

.card-body .card-title a {
    color: rgb(240, 243, 255);
    font-weight: 500;
    font-size: 3rem;
}

.card {
    border-radius: 3rem;
    border: none !important;
    box-shadow:
    4.8px 0.8px 6.2px -27px rgba(0, 0, 0, 0.063),
    12.2px 2px 17px -27px rgba(0, 0, 0, 0.09),
    25.2px 4.1px 41px -27px rgba(0, 0, 0, 0.117),
    62px -10px 66px -37px rgba(0, 0, 0, 0.18)
  ;
}

.card:hover {
    transform: translateY(-3px);
    box-shadow:
    4.8px 1.9px 6.2px -27px rgba(0, 0, 0, 0.063),
    12.2px 4.9px 17px -27px rgba(0, 0, 0, 0.09),
    25.2px 10.2px 41px -27px rgba(0, 0, 0, 0.117),
    62px -8px 66px -45px rgba(0, 0, 0, 0.18)
  ;
}

.btn-primary:hover {
    opacity: 0.75;
  ;
}

.box-breathing {
    background: -moz-linear-gradient(-135deg, #679566 15%, #FFFDE4 100%);
    background: -webkit-linear-gradient(-135deg, #679566 15%, #FFFDE4 100%);
    background: linear-gradient(-135deg, #679566 15%, #FFFDE4 100%);
}

.awake {
    background: -moz-linear-gradient(-135deg, #87A55B 15%, #FFFDE4 100%);
    background: -webkit-linear-gradient(-135deg, #87A55B 15%, #FFFDE4 100%);
    background: linear-gradient(-135deg, #87A55B 15%, #FFFDE4 100%);
}

.relax {
    background: -moz-linear-gradient(-135deg, #466958 15%, #FFFDE4 100%);
    background: -webkit-linear-gradient(-135deg, #466958 15%, #FFFDE4 100%);
    background: linear-gradient(-135deg, #466958 15%, #FFFDE4 100%);
}

.anti-stress {
    background: -moz-linear-gradient(-135deg, #BC3234 15%, #FFFDE4 100%);
    background: -webkit-linear-gradient(-135deg, #BC3234 15%, #FFFDE4 100%);
    background: linear-gradient(-135deg, #BC3234 15%, #FFFDE4 100%);
}

.meditate {
    background: -moz-linear-gradient(-135deg, #F26419 15%, #FFFDE4 100%);
    background: -webkit-linear-gradient(-135deg, #F26419 15%, #FFFDE4 100%);
    background: linear-gradient(-135deg, #F26419 15%, #FFFDE4 100%);
}

.custom {
    background: -moz-linear-gradient(-135deg, #FEA014 15%, #FFFDE4 100%);
    background: -webkit-linear-gradient(-135deg, #FEA014 15%, #FFFDE4 100%);
    background: linear-gradient(-135deg, #FEA014 15%, #FFFDE4 100%);
}

.anti-stress .btn-primary {
    background: -moz-linear-gradient(-135deg, #FFFDE4 1%, #E7A3A4 50%);
    background: -webkit-linear-gradient(-135deg, #FFFDE4 1%, #E7A3A4 50%);
    background: linear-gradient(-135deg, #FFFDE4 1%, #E7A3A4 50%);
}

.awake .btn-primary {
    background: -moz-linear-gradient(-135deg, #FFFDE4 1%, #CCD8B9 50%);
    background: -webkit-linear-gradient(-135deg, #FFFDE4 1%, #CCD8B9 50%);
    background: linear-gradient(-135deg, #FFFDE4 1%, #CCD8B9 50%);
}

.relax .btn-primary {
    background: -moz-linear-gradient(-135deg, #FFFDE4 1%, #A9C6B7 50%);
    background: -webkit-linear-gradient(-135deg, #FFFDE4 1%, #A9C6B7 50%);
    background: linear-gradient(-135deg, #FFFDE4 1%, #A9C6B7 50%);
}

.box-breathing .btn-primary {
    background: -moz-linear-gradient(-135deg, #FFFDE4 1%,#BDD2BD 50%);
    background: -webkit-linear-gradient(-135deg, #FFFDE4 1%,#BDD2BD 50%);
    background: linear-gradient(-135deg, #FFFDE4 1%,#BDD2BD 50%);
}

.meditate .btn-primary {
    background: -moz-linear-gradient(-135deg,  #FFFDE4 1%, #FAC5A8 50%);
    background: -webkit-linear-gradient(-135deg,  #FFFDE4 1%, #FAC5A8 50%);
    background: linear-gradient(-135deg,  #FFFDE4 1%, #FAC5A8 50%);
}

.custom .btn-primary {
    background: -moz-linear-gradient(-135deg,  #FFFDE4 1%, #FED69A 50%);
    background: -webkit-linear-gradient(-135deg,  #FFFDE4 1%, #FED69A 50%);
    background: linear-gradient(-135deg,  #FFFDE4 1%, #FED69A 50%);
}

.card-body {
    padding: 2.5rem;
    min-height: 300px;
    min-width: 300px;
}

.btn-primary {
    padding: 1.5rem;
    text-align: center;
    background-color: white;
    border-radius: 30px;
    margin-top: 50px;
    width: 100%;
    background: -moz-linear-gradient(45deg, #5B86E50A 0%, #5B86E5 100%);
    background: -webkit-linear-gradient(45deg, #5B86E50A 0%, #5B86E5 100%);
    background: linear-gradient(45deg, #5B86E50A 0%, #5B86E5 100%);
    border: none !important;
}


.horizontal-scroll {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
}

.horizontal-scroll:before,
.horizontal-scroll:after {
    content: '';
    width: 10px;
}

.horizontal-scroll:last-child {
    padding-right: 20px;
}

.horizontal-scroll .card {
    flex: 0 0 auto;
    max-width: 300px;
    margin: 1rem;
}

.no-scrollbar {
    scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.x3 {
    font-size: 3rem;
}

@media (max-width:1200px) {
    .tight {
        padding-left: 0px !important;
        padding-right: 0px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
        max-width: none !important;
    }
}