html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

canvas {
    height: 100vh;
    width: 100vw;
    touch-action: none;
    background-color: #faf6fb;
}

#sign-in {
    position: absolute;
    color: white !important;
    font-size: 1.2rem;
    width: 95%;
    top: 10%;
    left: 5%;
    display: none;
}

#instructions {
    top: 10%;
    left: 5%;
    position: absolute;
    color: white !important;
    width: 95%;
    display: block;
}

#instructions p {
    color: rgba(255, 255, 255, 0.287);
}

hr {
    border-top: 5px solid rgba(255, 255, 255, 0.287);
}

.x3 {
    font-size: 3rem;
    color: rgba(255, 255, 255, 0.287);
}